# MovieLens / SVD

In [1]:
import pandas as pd
import numpy as np

In [17]:
df_movies = pd.read_csv("../data/movie-lens-small/movies.csv")
df_movies.sample(10)

,movieId,title,genres
5733,30745,Gozu (Gokudô kyôfu dai-gekijô: Gozu) (2003),Comedy|Crime|Drama|Horror|Mystery
4470,6598,Step Into Liquid (2002),Documentary
4415,6516,Anastasia (1956),Drama
2409,3198,Papillon (1973),Crime|Drama
8105,100527,Safe Haven (2013),Drama|Mystery|Romance
914,1213,Goodfellas (1990),Crime|Drama
9200,151315,Ride Along 2 (2016),Action|Comedy
4067,5797,"Company of Wolves, The (1984)",Fantasy|Horror
1883,2502,Office Space (1999),Comedy|Crime
5803,31851,Sons of the Desert (1933),Comedy

In [2]:
df = pd.read_csv("../data/movie-lens-small/ratings.csv")
df.shape

(100836, 4)

In [3]:
df.sample(10)

       userId  movieId  rating   timestamp
44719     298     3254     2.5  1466278105
60223     387    48780     4.5  1174624345
66443     428     1320     2.5  1111487532
9867       64     6874     4.0  1161520239
79658     495    46970     3.5  1458636913
8639       59      648     5.0   953609356
24936     177      344     4.0  1435533575
64025     414     5812     3.5  1095465993
4705       28    60040     3.0  1234572131
35640     240      339     3.0   849122226

## Pivot Dataframe into a Matrix

In [4]:
df_pivot = df.pivot(index="userId", columns="movieId", values="rating")
df_pivot.shape

(610, 9724)

In [5]:
df_pivot.sample(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
368,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Calculating Sparseness

In [6]:
userIDs = len(df["userId"].unique().tolist())
userIDs

610

In [7]:
MovieIDs = len(df["movieId"].unique().tolist())
MovieIDs

9724

In [8]:
sparseness = 1 - (df.shape[0] / (MovieIDs * userIDs))
sparseness

0.9830003169443864

## Removing Rating Bias

In [9]:
users_avg_rating = df_pivot.mean(axis=1)
users_avg_rating = np.array(users_avg_rating)
users_avg_rating

array([4.36637931, 3.94827586, 2.43589744, 3.55555556, 3.63636364,
       3.49363057, 3.23026316, 3.57446809, 3.26086957, 3.27857143,
       3.78125   , 4.390625  , 3.64516129, 3.39583333, 3.44814815,
       3.7244898 , 4.20952381, 3.73207171, 2.60739687, 3.59090909,
       3.26072235, 2.57142857, 3.64876033, 3.65      , 4.80769231,
       3.23809524, 3.54814815, 3.02017544, 4.14197531, 4.73529412,
       3.92      , 3.75490196, 3.78846154, 3.41860465, 4.08695652,
       2.63333333, 4.14285714, 3.21794872, 4.        , 3.76699029,
       3.25345622, 3.56590909, 4.55263158, 3.35416667, 3.87593985,
       4.        , 3.05357143, 4.03030303, 4.26190476, 2.78064516,
       3.77576602, 4.47692308, 5.        , 3.03030303, 2.84      ,
       3.80434783, 3.39285714, 3.90178571, 4.35514019, 3.72727273,
       4.05128205, 4.08196721, 3.63099631, 3.7688588 , 4.02941176,
       4.02028986, 3.97222222, 3.23373016, 4.36956522, 4.32258065,
       3.6       , 4.15555556, 3.71190476, 4.27118644, 3.23188406,
       3.08403361, 4.        , 3.16393443, 4.203125  , 4.26047904,
       2.76923077, 3.38105727, 3.30932203, 3.6894198 , 3.70588235,
       3.92857143, 3.95238095, 4.03571429, 3.47297297, 4.07407407,
       3.39565217, 3.9375    , 4.28865979, 3.03571429, 4.0625    ,
       3.88461538, 4.19444444, 3.91304348, 3.86792453, 3.94594595,
       3.55737705, 3.35714286, 3.9071618 , 3.50732601, 4.11634349,
       4.43939394, 3.91176471, 3.98684211, 3.22047244, 3.7254902 ,
       3.33978328, 3.59230769, 3.64666667, 3.43548387, 3.76785714,
       3.43678161, 3.33939394, 3.81818182, 4.17674419, 3.40909091,
       3.29310345, 4.54623288, 4.03571429, 3.99      , 3.85972222,
       3.28947368, 3.11363636, 4.36363636, 3.92142857, 3.53571429,
       3.44202899, 3.0389049 , 3.        , 3.57142857, 3.63082437,
       3.31531532, 3.9787234 , 3.52272727, 2.1443299 , 3.49917763,
       3.53869048, 3.81578947, 3.32394366, 3.62890625, 3.34782609,
       3.140625  , 3.375     , 3.73958333, 2.72413793, 3.57692308,
       3.54237288, 4.02380952, 2.21787709, 4.38235294, 3.60869565,
       3.69221106, 3.47619048, 3.42307692, 3.27319588, 2.70823799,
       3.83333333, 4.23684211, 3.        , 4.25      , 3.53846154,
       4.07368421, 3.43930636, 4.46276596, 4.24907063, 3.34      ,
       4.63414634, 3.82692308, 3.48      , 3.65671642, 3.54166667,
       4.05555556, 3.3755531 , 4.09090909, 3.7826087 , 3.5625    ,
       2.94067797, 3.51125896, 3.8245614 , 3.70522388, 3.53191489,
       4.07964602, 3.7751938 , 4.39583333, 4.1       , 3.90909091,
       3.74117647, 4.04545455, 3.8       , 3.475     , 3.52941176,
       3.9375    , 3.85714286, 3.49130435, 3.3953168 , 3.80988024,
       4.1       , 3.81885856, 3.84444444, 3.95783133, 3.87037037,
       4.04      , 2.875     , 3.30769231, 4.24285714, 4.07971014,
       3.90449438, 3.59072581, 3.82738095, 2.86363636, 3.90816327,
       3.66463415, 2.76182708, 3.36538462, 3.1657197 , 3.96376812,
       4.12688822, 3.166     , 3.27333333, 4.25925926, 3.65333333,
       3.47633136, 4.20212766, 3.74      , 3.73846154, 2.85971223,
       3.85416667, 3.25058005, 3.3       , 3.5049505 , 3.64615385,
       3.96666667, 3.36      , 3.68181818, 4.02688172, 3.9140625 ,
       3.98026316, 3.6       , 4.13888889, 3.77419355, 2.71428571,
       4.25245098, 3.74666667, 3.74509804, 3.69646272, 4.22222222,
       4.86956522, 4.19736842, 4.35106383, 3.98031496, 2.56818182,
       3.9454023 , 3.2       , 4.2       , 3.12068966, 3.75986842,
       3.85849057, 3.10526316, 3.71666667, 3.5625    , 3.34969325,
       3.5       , 4.1754386 , 3.27131783, 3.62068966, 3.2       ,
       3.18604651, 3.62903226, 4.        , 3.2358841 , 4.08684864,
       4.3902439 , 3.57142857, 3.875     , 3.64772727, 3.9005102 ,
       3.21428571, 4.03375527, 3.31428571, 3.71590909, 3.95833333,
       3.78773585, 2.62171053, 3.14597156, 3.625     , 4.1423221 ,
       4.25806452, 3.30156951, 2.61904762, 2.61098398, 3.74390244,
       4.16666667, 2.59722222, 2.36368477, 3.65217391, 4.296875  ,
       3.32017544, 4.        , 3.90566038, 3.87037037, 3.92466765,
       3.31696429, 2.66564103, 2.42608696, 3.83980583, 3.53125   ,
       2.33928571, 3.70852018, 3.43235294, 3.046875  , 3.36363636,
       3.        , 3.73015873, 3.7559727 , 4.42857143, 3.525     ,
       3.57142857, 3.41121495, 3.17346939, 3.14285714, 3.54444444,
       4.01644737, 4.10416667, 3.2254902 , 2.86956522, 3.6902834 ,
       3.62797619, 3.59925094, 2.64      , 3.41883117, 3.67857143,
       4.32142857, 4.20779221, 2.93589744, 4.07008086, 4.21428571,
       3.79807692, 2.93939394, 4.05932203, 3.76811594, 3.90322581,
       3.68292683, 3.55555556, 4.67272727, 3.72972973, 3.25      ,
       3.66666667, 3.78061224, 3.48888889, 3.73451327, 3.88461538,
       4.02076125, 3.95691906, 3.25609756, 3.41891892, 3.36      ,
       3.18041237, 4.24311927, 3.3       , 4.19047619, 2.75090253,
       3.9516129 , 3.85945946, 2.84221748, 3.39147287, 3.5483871 ,
       4.54878049, 3.3559322 , 3.19      , 3.63636364, 3.90909091,
       4.06390977, 3.91221374, 4.        , 3.38888889, 3.67323481,
       3.54219409, 3.50859107, 3.79411765, 3.08571429, 3.40298507,
       2.75      , 3.25851996, 3.62068966, 4.11764706, 3.83950617,
       3.71502591, 3.2       , 3.84146341, 2.95652174, 3.04918033,
       3.14285714, 3.95652174, 4.25      , 3.94444444, 4.51162791,
       3.52777778, 3.85416667, 3.76470588, 3.4       , 4.00833333,
       3.25      , 4.11363636, 4.09219858, 3.84126984, 4.05988024,
       3.25984252, 3.89215686, 4.41071429, 3.39195701, 4.08510638,
       3.06862745, 4.46268657, 3.63978495, 3.80322581, 3.82269504,
       4.10810811, 3.32258065, 3.7173913 , 3.67391304, 3.53267974,
       3.68181818, 3.10119048, 2.64      , 3.98275862, 3.74137931,
       2.725     , 3.64615385, 3.77272727, 3.78111588, 4.32142857,
       3.17924528, 3.80327869, 3.35511811, 4.11904762, 3.89393939,
       4.52222222, 1.275     , 4.12162162, 3.80952381, 3.85714286,
       3.21428571, 3.87179487, 2.84737124, 3.28947368, 4.        ,
       3.79411765, 4.55693069, 3.94212219, 3.76666667, 3.45614035,
       3.81395349, 3.46      , 4.15254237, 4.34615385, 4.20121951,
       2.94444444, 3.40659341, 3.78787879, 3.75362319, 4.15652174,
       3.92920354, 3.40909091, 3.39393939, 3.67311828, 3.5125    ,
       3.875     , 4.12068966, 3.41891892, 3.39895636, 4.40967742,
       3.68115942, 3.73666667, 2.81818182, 3.32044199, 3.27511962,
       2.80645161, 3.40625   , 3.61881868, 3.81454545, 3.86956522,
       4.01785714, 3.14285714, 3.88288288, 3.01774691, 3.15929204,
       4.15625   , 3.8677686 , 3.68852459, 4.22727273, 4.00943396,
       3.4137931 , 3.56862745, 4.05714286, 3.83333333, 3.24418605,
       3.2       , 3.42857143, 3.34210526, 3.82183908, 4.17741935,
       3.26190476, 3.38095238, 2.14583333, 3.21627409, 2.90277778,
       4.125     , 3.78      , 3.890625  , 3.31108312, 4.84615385,
       3.69230769, 2.38625   , 3.54166667, 4.32692308, 3.88172043,
       3.6       , 3.83      , 4.69333333, 3.45801527, 3.542     ,
       4.18965517, 4.11976048, 3.47260274, 3.2       , 3.77777778,
       3.77272727, 4.28      , 4.38157895, 3.80480769, 2.66666667,
       3.4       , 4.06382979, 4.47297297, 3.80263158, 4.        ,
       3.3908046 , 3.50884956, 4.45394737, 4.36363636, 3.36956522,
       3.4375    , 4.14285714, 4.09615385, 3.66666667, 4.10714286,
       3.71544715, 3.11968085, 4.3373494 , 4.        , 3.4550173 ,
       4.078125  , 3.85185185, 3.92857143, 3.28571429, 3.56768559,
       3.37227723, 4.09307359, 3.30046948, 3.57961783, 3.65517241,
       3.54054054, 2.24545455, 4.13043478, 4.        , 3.41623037,
       2.57142857, 4.12258065, 4.21237458, 3.95652174, 3.16666667,
       3.1       , 3.56521739, 3.96296296, 3.97260274, 3.52981651,
       4.375     , 4.02678571, 3.29464286, 4.10843373, 4.33606557,
       4.36538462, 3.97575758, 3.25      , 4.025     , 3.35576923,
       3.27777778, 3.58510638, 3.26699029, 3.92456897, 4.2       ,
       3.49513382, 3.97742664, 3.80952381, 2.64205004, 2.991481  ,
       4.42574257, 3.39259259, 3.50795334, 3.48      , 3.21040724,
       3.6573991 , 3.78609626, 3.13417569, 3.27027027, 3.68855607])

In [10]:
pivot = df_pivot.to_numpy()
pivot

array([[4. , nan, 4. , ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       ...,
       [2.5, 2. , 2. , ..., nan, nan, nan],
       [3. , nan, nan, ..., nan, nan, nan],
       [5. , nan, nan, ..., nan, nan, nan]])

In [11]:
normalized_matrix = pivot - users_avg_rating.reshape(-1, 1)
normalized_matrix

array([[-0.36637931,         nan, -0.36637931, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       ...,
       [-0.63417569, -1.13417569, -1.13417569, ...,         nan,
                nan,         nan],
       [-0.27027027,         nan,         nan, ...,         nan,
                nan,         nan],
       [ 1.31144393,         nan,         nan, ...,         nan,
                nan,         nan]])

In [12]:
normalized_matrix = np.nan_to_num(normalized_matrix, nan=0)
normalized_matrix

array([[-0.36637931,  0.        , -0.36637931, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.63417569, -1.13417569, -1.13417569, ...,  0.        ,
         0.        ,  0.        ],
       [-0.27027027,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.31144393,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

## Apply SVD

In [13]:
# SVDS is SVD version for Sparse Matrices

from scipy.sparse.linalg import svds

u, s, vt = svds(normalized_matrix, k=50)
s = np.diag(s)

print(u.shape, s.shape, vt.shape)

(610, 50) (50, 50) (50, 9724)

In [14]:
regenerated = np.dot(np.dot(u, s), vt) + users_avg_rating.reshape(-1, 1)
regenerated

array([[4.30616055, 4.29639677, 4.40595086, ..., 4.36676653, 4.36676653,
        4.36724272],
       [3.94598477, 3.93225963, 3.9367516 , ..., 3.94819836, 3.94819836,
        3.94793259],
       [2.42520627, 2.4731044 , 2.40444357, ..., 2.43590095, 2.43590095,
        2.43595447],
       ...,
       [2.40823265, 1.92951625, 1.90144494, ..., 3.13490895, 3.13490895,
        3.11973288],
       [3.31689671, 3.27012154, 3.27617457, ..., 3.270299  , 3.270299  ,
        3.27067519],
       [5.03909959, 3.68865446, 3.63611918, ..., 3.6879992 , 3.6879992 ,
        3.70389295]])

In [15]:
df_predicted = pd.DataFrame(data=regenerated, columns=df_pivot.columns, index=df_pivot.index)
df_predicted

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.306161,4.296397,4.405951,4.370563,4.342908,4.163808,4.204276,4.341084,4.379745,4.277329,...,4.366767,4.367710,4.365823,4.365823,4.366767,4.365823,4.366767,4.366767,4.366767,4.367243
2,3.945985,3.932260,3.936752,3.953256,3.956456,3.932349,3.931181,3.950689,3.952856,3.980600,...,3.948198,3.948010,3.948387,3.948387,3.948198,3.948387,3.948198,3.948198,3.948198,3.947933
3,2.425206,2.473104,2.404444,2.442252,2.462691,2.432406,2.441692,2.451316,2.427452,2.472199,...,2.435901,2.435910,2.435892,2.435892,2.435901,2.435892,2.435901,2.435901,2.435901,2.435954
4,3.591391,3.542791,3.567743,3.501296,3.618028,3.607064,3.677209,3.523268,3.549899,3.693275,...,3.556530,3.558903,3.554156,3.554156,3.556530,3.554156,3.556530,3.556530,3.556530,3.550811
5,3.826923,3.623178,3.619512,3.618412,3.607475,3.735154,3.644817,3.634681,3.622817,3.590988,...,3.636455,3.636679,3.636232,3.636232,3.636455,3.636232,3.636455,3.636455,3.636455,3.636856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.009458,3.507370,3.666368,3.681474,3.544303,3.565989,2.483123,3.630113,3.709401,3.767946,...,3.657625,3.658174,3.657075,3.657075,3.657625,3.657075,3.657625,3.657625,3.657625,3.654925
607,3.828102,3.820760,3.968557,3.798083,3.856450,3.849551,3.745672,3.783262,3.761308,3.698775,...,3.785918,3.785485,3.786352,3.786352,3.785918,3.786352,3.785918,3.785918,3.785918,3.784522
608,2.408233,1.929516,1.901445,3.131823,3.122469,3.380301,3.126344,3.065574,3.095069,4.166806,...,3.134909,3.136695,3.133122,3.133122,3.134909,3.133122,3.134909,3.134909,3.134909,3.119733
609,3.316897,3.270122,3.276175,3.254087,3.262333,3.332641,3.277084,3.271505,3.260878,3.281328,...,3.270299,3.270369,3.270229,3.270229,3.270299,3.270229,3.270299,3.270299,3.270299,3.270675
610,5.039100,3.688654,3.636119,3.694488,3.691574,5.054514,3.745505,3.588077,3.709793,3.759366,...,3.687999,3.686642,3.689356,3.689356,3.687999,3.689356,3.687999,3.687999,3.687999,3.703893

# Test

In [18]:
user = 22
df_user = df[df["userId"] == 22]
df_user = df_user.merge(df_movies, how="inner", on="movieId")
df_user

,userId,movieId,rating,timestamp,title,genres
0,22,107,4.5,1268330607,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical
1,22,216,4.0,1268726081,Billy Madison (1995),Comedy
2,22,253,4.0,1268726368,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
3,22,318,5.0,1268726193,"Shawshank Redemption, The (1994)",Crime|Drama
4,22,356,5.0,1268726309,Forrest Gump (1994),Comedy|Drama|Romance|War
...,...,...,...,...,...,...
114,22,69757,0.5,1268726748,(500) Days of Summer (2009),Comedy|Drama|Romance
115,22,70286,0.5,1268726596,District 9 (2009),Mystery|Sci-Fi|Thriller
116,22,71464,0.5,1268727107,"Serious Man, A (2009)",Comedy|Drama
117,22,72998,3.5,1268726172,Avatar (2009),Action|Adventure|Sci-Fi|IMAX
118,22,74789,0.5,1268726132,Alice in Wonderland (2010),Adventure|Fantasy|IMAX